

<p>
  <strong>Message:</strong>
  <%= @issue.message %>
</p>

<p>
  <strong>Device:</strong>
  <%= @issue.device %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
